.tab {
  width:100%;
  height: 0.46rem;
  line-height: 0.46rem;
  background-color: #f6f6f6;
}

.span {
  width: 32%;
  text-align: center;
  display: inline-block;
}

.Income-ul {
  width: 100%;
}

.po-re {
  position: relative;
}

.Income {
  /*height: 1.1rem;*/
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
}

.Income i {
  margin-left: 0.15rem;
  width: .18rem;
  height: .18rem;
}

.Income i.a {
  background: url(../imgs/ic_a.png);
  /*background: url(../../src/assets/min/ic_a.png);*/
  background-size: 100%;
  position: absolute;
  top: 0;
}
.Income i.q {
  background: url(../imgs/ic_q.png);
  /*background: url(../../src/assets/min/ic_q.png);*/
  background-size: 100%;
}

.Income span {
  margin-left: 0.08rem;
}

.Income  .span1{
  font-size: .15rem;
  color: #CA88ED;
  letter-spacing: 0.01px;
  line-height: .50rem;
}

.Income  .span2{
  width: 85%;
  font-size: .13rem;
  color: #555555;
  letter-spacing: 0.01px;
  line-height: .20re;
  padding-left: 0.35rem;
  text-align: left;
  display: inline-block;
  padding-bottom: 0.15rem;
}

.router-link-active {
  color: #B864E8;
  border-bottom: 0.5px solid #B864E8;
}
